apiVersion: apps/v1
kind: Deployment
metadata:
  name: latency-extender
  namespace: riset
spec:
  replicas: 1
  selector:
    matchLabels:
      app: latency-extender
  template:
    metadata:
      labels:
        app: latency-extender
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: Exists
                  - key: node-role.kubernetes.io/worker
                    operator: DoesNotExist
      serviceAccountName: latency-aware-scheduler
      restartPolicy: Always
      containers:
        - name: latency-extender
          image: adindaysafitri/scheduler:0.1.2
          imagePullPolicy: IfNotPresent
          command: ["/app/scheduler"]
          ports:
            - name: http
              containerPort: 3001
              protocol: TCP
          envFrom:
            - secretRef:
                name: extender-secrets
          startupProbe:
            httpGet:
              path: /health
              port: 3001
            failureThreshold: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 5
            successThreshold: 1

          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 40
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: latency-extender-svc
  namespace: riset
  labels:
    app: latency-extender
spec:
  type: ClusterIP
  selector:
    app: latency-extender
  ports:
    - name: http
      protocol: TCP
      port: 3001
      targetPort: 3001
  sessionAffinity: None
