{
    "shutdownTimeout": 10,
    "kubernetes": {
        "namespace": "mirzaganteng",
        "service": "mirzaganteng",
        "targetPort": 8080
    },
    "prometheus": {
        "url": "http://example.com:9090"
    },
    "nftables": {
        "table": "mirzaganteng",
        "chainPrerouting": "prerouting",
        "chainServices": "services",
        "setAllowedNodeIps": "iyadahgitudah",
        "mapServiceChainByNodeport": "gitudahnamanya",
        "prefixServiceEndpoint": "yowes-ikilo"
    },
    "probe": {
        "latencyInterval": 10,
        "cpuInterval": 10,
        "nftUpdateInterval": 10
    },
    "alpha": {
        "ewmaLatency": 0.2,
        "ewmaCpu": 0.3
    }
}
