apiVersion: v1
kind: Secret
metadata:
  name: extender-secrets
  namespace: riset
type: Opaque
stringData:
  # prober integration
  PROBER_ENDPOINT: "prober-endpoint" 
  PROBER_PORT: "prober-port" 

  # base conf
  POD_NAMESPACE: "your-pod-namespace"
  TZ:  "Jakarta/Asia" #timezone
  PORT_EXTENDER: "your-extender-port" 
  LOG_LEVEL:  "debug" #log level
  TOPNODE_FB: "your-topnode-in-cold-start"
  WARMUP_THRESHOLD: "traffic-threshold"

  # influxDB connection
  INFLUX_HOST: "http://influx-ip:port"
  INFLUX_ORG: "your-org"
  INFLUX_BUCKET: "your-bucket"
  INFLUX_TOKEN: "your-token"

  # scoring conf
  WEIGHT_LATENCY: "latency-w-in-scoring (0-1)"            
  WEIGHT_CPU: "latency-cpu-in-scoring (0-1)"                
  WEIGHT_TRAFFIC: "latency-traffic-in-scoring (0-1)"            
  SCALE_FACTOR: "100"  

  #filter conf
  LATENCY_THRESHOLD: "latency-threshold (0-1)"
  CPU_THRESHOLD: "cpu-threshold (0-1)"

