---
apiVersion: v1
kind: Secret
metadata:
  name: influx-secrets
  namespace: riset
stringData:
  INFLUX_BUCKET: My_Super_Cool_Bucket
  INFLUX_HOST: https://example.com:8086
  INFLUX_ORG: My_Organization
  INFLUX_TOKEN: Super_Secret_Token
