---
apiVersion: v1
kind: Secret
metadata:
  name: proberv2-secrets
  namespace: riset
stringData:
  config: |-
    {
        "serviceLevelAgreement": 400,
        "namespace": "mirzaganteng",
        "prometheus": {
            "url": "http://example.com:9090"
        },
        "nftables": {
            "table": "mirzaganteng",
            "chainPrerouting": "prerouting",
            "chainServices": "services",
            "setAllowedNodeIps": "iyadahgitudah",
            "mapServiceChainByNodeport": "gitudahnamanya",
            "prefixServiceEndpoint": "yowes-ikilo"
        }
    }
