---
apiVersion: v1
kind: Secret
metadata:
  name: otelcol-secrets
  namespace: riset
stringData:
  url: https://example.com:8086
  token: Super_Secret_Token
  org: My_Organization
  bucket: My_Super_Cool_Bucket
