# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json
---
nodeSelector:
  node-role.kubernetes.io/control-plane:
tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule

providers:
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: false
gateway:
  namespacePolicy: All
logs:
  general:
    level: DEBUG
  access:
    enabled: true
    format: json
ports:
  traefik:
    hostPort: 8080